body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  padding: 4% 0 4% 0;
}

.ng-invalid.ng-touched{
  border: 1px solid red;
}