<div class="alert alert-success col-md-12" role="alert" *ngIf="this.sauvegardeClient">
    <p>Client Sauvegardé: {{this.myClient.prenom}} {{this.myClient.nom}}</p>
</div>
<section class="col-md-12 space">
    <form [formGroup]="editClientForm" (ngSubmit)="onSubmit()">
        <section class="col-md-6">
            <div class="col-md-12 title">
                <h2>{{identification}}</h2>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="noClient">No Client</label>
                    <input type="text" id="noClient" class="form-control" formControlName="noClient" placeholder="client #" [(ngModel)]="this.myClient.noClient"
                        readonly>
                </div>
                <div class="col-md-6 form-group">
                    <label for="noCompte">No Compte</label>
                    <input type="text" id="noCompte" class="form-control" formControlName="noCompte" placeholder="account #" [(ngModel)]="this.myClient.noCompte">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" class="form-control" formControlName="prenom" placeholder="firstname" [(ngModel)]="this.myClient.prenom">
                </div>
                <div class="col-md-6 form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" class="form-control" formControlName="nom" placeholder="name" [(ngModel)]="this.myClient.nom">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="telPrincipal">Tél. Principal</label>
                    <input type="text" #inputTP (input)="formatTP(inputTP)" id="telPrincipal" class="form-control" formControlName="telPrincipal"
                        placeholder="main #" [(ngModel)]="this.myClient.telPrincipal">
                    <p class="text-danger" [hidden]="editClientForm.controls.telPrincipal.valid || (editClientForm.controls.telPrincipal.pristine)">
                        Invalide. Tél à 10 chiffres. Example: (514)123-4567.
                    </p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="telSecondaire">Tél. Secondaire</label>
                    <input type="text" id="telSecondaire" class="form-control" formControlName="telSecondaire" placeholder="second #" [(ngModel)]="this.myClient.telSecondaire">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="cell">Cellulaire</label>
                    <input type="text" id="cell" class="form-control" formControlName="cell" placeholder="cell #" [(ngModel)]="this.myClient.cell">
                </div>
                <div class="col-md-6 form-group">
                    <label for="courriel">Courriel</label>
                    <input type="email" id="courriel" class="form-control" placeholder="my@email.com" formControlName="courriel" [(ngModel)]="this.myClient.courriel">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="fax">Fax</label>
                    <input type="text" id="fax" class="form-control" formControlName="fax" placeholder="fax #" [(ngModel)]="this.myClient.fax">
                </div>
                <div class="col-md-6 form-group">
                    <label for="compagnie">Compagnie</label>
                    <input type="text" id="compagnie" class="form-control" formControlName="compagnie" placeholder="business" [(ngModel)]="this.myClient.compagnie">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-12 form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" class="form-control" formControlName="adresse" placeholder="adress" [(ngModel)]="this.myClient.adresse">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="ville">Ville</label>
                    <input type="text" id="ville" class="form-control" formControlName="ville" placeholder="city" [(ngModel)]="this.myClient.ville">
                </div>
                <div class="col-md-6 form-group">
                    <label for="province">Province</label>
                    <input type="text" id="province" class="form-control" formControlName="province" placeholder="province" [(ngModel)]="this.myClient.province">
                </div>
            </div>
            <div class="col-md-12 outer">
                <div class="col-md-6 form-group">
                    <label for="codePostal">Code Postal</label>
                    <input type="text" #inputCP (input)="formatCP(inputCP)" id="codePostal" class="form-control" formControlName="codePostal"
                        placeholder="postal code" [(ngModel)]="this.myClient.codePostal">
                    <p class="text-danger" [hidden]="editClientForm.controls.codePostal.valid || (editClientForm.controls.codePostal.pristine)">
                        Invalide. D, F, I, O, Q, U, W, Z Invalide. Example: H2S 0B5.
                    </p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="pays">Pays</label>
                    <input type="text" id="pays" class="form-control" formControlName="pays" placeholder="country" [(ngModel)]="this.myClient.pays">
                </div>
            </div>
        </section>
        <section class="col-md-2">
        </section>
        <section class="col-md-4">
            <div class="col-md-12 title">
                <h2>{{gestion}}</h2>
            </div>
            <div class="col-md-6 outer">
                <div class="col-md-12 memo">
                    <label for="labelMemo">Mémo</label>
                    <textarea id="labelMemo" class="form-control" rows="10" formControlName="memo" [(ngModel)]="this.myClient.memo"></textarea>
                </div>
                <div class="col-md-12 memo">
                    <label for="labelMess">Message important pour évènement à venir</label>
                    <textarea id="labelMess" class="form-control" rows="10" formControlName="memoAVenir" [(ngModel)]="this.myClient.memoAVenir"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 gestionInputs">
                    <label for="noExTaxeProv">No exemption taxe provinciale</label>
                    <input type="text" id="noExTaxeProv" class="form-control" formControlName="noExTaxeProv" [(ngModel)]="this.myClient.noExTaxeProv">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="noExTaxeFed">No exemption taxe fédérale</label>
                    <input type="text" id="noExTaxeFed" class="form-control" formControlName="noExTaxeFed" [(ngModel)]="this.myClient.noExTaxeFed">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="selectStatut">Satut du client</label>
                    <select class="form-control" id="selectStatut" formControlName="selectStatut" [(ngModel)]="this.myClient.selectStatut">
                            <option>Client passé</option>
                            <option>Client actuel</option>
                            <option>Client récurrent</option>
                            <option>Client à solliciter</option>
                            <option>Client sollicité</option>
                            <option>Client VIP</option>
                        </select>
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="selectSource">Source</label>
                    <select class="form-control" id="selectSource" formControlName="selectSource" [(ngModel)]="this.myClient.selectSource">
                            <option>Internet</option>
                            <option>Bouche-à-oreille</option>
                            <option>Journaux et Magazines</option>
                            <option>Télévision</option>
                            <option>Travail</option>
                            <option>Autres</option>
                        </select>
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="modifPar">Modifié par</label>
                    <input type="text" id="modifPar" class="form-control" formControlName="modifPar" readonly [(ngModel)]="this.myClient.modifPar">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="modif">Modifié</label>
                    <input type="text" id="modif" class="form-control" formControlName="modif" readonly [(ngModel)]="this.myClient.modif">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="dateDernEv">Date Dernier Évènement</label>
                    <input type="text" id="dateDernEv" class="form-control" formControlName="dateDernEv" readonly [(ngModel)]="this.myClient.dateDernEv">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="creePar">Créé par</label>
                    <input type="text" id="creePar" class="form-control" formControlName="creePar" readonly [(ngModel)]="this.myClient.creerPar">
                </div>
                <div class="col-md-12 gestionInputs">
                    <label for="cree">Créé</label>
                    <input type="text" id="cree" #dateCree class="form-control" formControlName="cree" readonly [(ngModel)]="this.myClient.dateCree">
                </div>
            </div>
        </section>
        <div class="col-md-12 footer space">
            <div class="col-md-4 divFooter">
                <button type="button" class="btn btn-primary" [disabled]="!formActualiser">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        Actualiser
                    </button>
            </div>
            <div class="col-md-4 divFooter">
                <button type="submit" class="btn btn-primary" [disabled]="!editClientForm.valid || !modeSoumission">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Enregistrer
                    </button>
            </div>
            <div class="col-md-4 divFooter">
                <button type="button" class="btn btn-primary" [disabled]="!formCopie">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        Copie Client
                    </button>
            </div>
        </div>
    </form>
</section>